<!DOCTYPE html>
<html>
<head>
  <title>bg</title>
  <link rel="stylesheet" href="h2.css">
  </head>
  <body>
    <header class="showcase">
      <div class="content" style="text-align: left;">
        <h2>Id</h2>
        <p>{% %}</p>  
        <h2>Sentiment</h2>
        <p>{% %}</p>
        <h2>Feedback</h2>
        <p>{% %}</p>
      
 <div style="text-align: right;margin-right: -450px;">
          <a class="link" href="#">Next</a>
      </div>
<div style="text-align: left;margin-left: -500px;">
        <a class="link" href="#">Previous</a>
      </div>
    </div>
    </header>

  
</body>
  </html>